
/* .header{
    width: 1595.79px;
    height: 53.72px;
    
}
.header-items{
    width: 912.79px;
    height: 53.72px;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 198.79px;
    height: 53.72px;
}
.navigation{
    width: 564px;
    height: 23px;
    display: flex;
    justify-content: space-between;
}
.li-item{
    display: flex;
} */
/* main */
.banner{
    width: 1920px;
    height: 450px;
}
.container{
    width: 1400px;
    height: 1901px;
    padding: 182px 260px 97px;
}
.photo{
    width: 1400px;
    height: 742px;

}
.services{
    width: 936px;
    height: 1081px;
    padding: 78px 232px 0px;
}
.div-description{
    width: 936px;
    height: 267px;
}
.div-description h2{
    width: 517px;
    height: 59px;
    font-size: 50px;
    color: #274C5B;
    margin-bottom: 28px;
}
.div-description p{
    width: 936px;
    height: 180px;
    font-size: 18px;
}
.top-div{
    width: 936px;
    height: 252px;
    display: flex;
    justify-content: space-around;
}
.image-div{
    width: 379px;
    height: 252px;
}
.text-div{
    width: 537px;
    height: 252px;
    padding: 63px 45px;
}
.bottom-div{
    width: 936px;
    height: 252px;
    margin-top: 28px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
}
.text{
    width: 447px;
    height: 162px;
}
.text h4{
    height: 29px;
    font-size: 25px;
    color: #274C5B;
    margin-bottom: 7px;
}
.text p{
    width: 447px;
    height: 90px;
    font-size: 18px;
    color: #525C60;
}
.content{
    width: 936px;
    height: 142px;
}
.content h3{
    width: 288px;
    height: 41px;
    color: #00000040;
    font-size: 30px;
}
.content p{
    width: 936px;
    height: 90px;
    font-size: 18px;
    color: #525C60;
}
.bottom-image{
    width: 1400px;
    height: 323px;
    padding-bottom: 60px;
}

/* footer */
.footer{
    width: 1920px;
    height: 416px;
    
}
.footer-main{
    width: 1404px;
    height: 308px;
}
.block1{
    width: 291px;
    height: 308px;
}
.block2{
    width: 543px;
    height: 136.72px;
}
.block3{
    width: 285px;
    height: 304px;
}